.head {
    text-align: start;
    padding:2% 0%;
}



.sidebar{
    text-align: start;
}



.gallery_container {
    display:grid;
    grid-template-areas: 'pic1 pic2 pic3'
                         'pic4 pic5 pic6'
                         'pic7 pic8 pic9';
    gap:20px;
    place-items: end;
    text-align: start;
}




.gallery_container img {
    width: 400px;
    max-width: 92vw;
}





.pic1 {
    grid-area: pic1
}



.pic2 {
    grid-area: pic2
}



.pic3 {
    grid-area: pic3
}



.pic4 {
    grid-area: pic4
}



.pic5 {
    grid-area: pic5
}



.pic6 {
    grid-area: pic6
}



.pic7 {
    grid-area: pic7
}



.pic8 {
    grid-area: pic8
}



.pic9 {
    grid-area: pic9
}



@media screen and (min-width:800px)and (max-width:1199px){
    .gallery_container{
        grid-template-areas: 'pic1 pic2'
                             'pic3 pic4'
                             'pic5 pic6'
                             'pic7 pic8'
                             'pic9 .';
    }
}



@media screen and (max-width:799px){
    .gallery_container{
        grid-template-areas: 'pic1'
                             'pic2'
                             'pic3'
                             'pic4'
                             'pic5'
                             'pic6'
                             'pic7'
                             'pic8'
                             'pic9';
        place-items: start;
        grid-template-columns: 1fr; /* Ensure only one column */
    }
}
