#root {
  padding: 2rem;

}

.content{
  padding:40px;
}

.carousel{
  display:flex;
  max-width:92vw;
  gap: 20px;
  padding: 10px 0px;
  justify-content: center;
}

.carousel img{
  width:240px;
  height:240px;
}

.section1{
  padding:20px;
}

.section1 img{
  width: 145.14px;
  height: 145.14px;
  border-radius: 15px;
}

.section1 hr{
  margin-top:60px;
}

.work_with_us{
  padding: 174px 200px;
}